<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frame Flow</title>
    <link rel="stylesheet" href="/css/new_hire.css">
</head>
<body>
    <section class="main-content">
        <h2>EXPLORE OUR CREATORS</h2>
        <div class="cards-container">
            <% listings.forEach(function(listing) { %>
                <div class="card">
                    <img src="<%= listing.image %>" alt="<%= listing.title %>" class="card-image">
                    <div class="card-content">
                        <h3><%= listing.title %></h3>
                        <p><%= listing.description %></p>
                        <p>Price: <%= listing.price %></p>
                        <p>Rating: <%= listing.rating %> (Reviews: <%= listing.reviews %>)</p>
                        <ul>
                            <% listing.standard.features.forEach(function(feature) { %>
                                <li><%= feature %></li>
                            <% }); %>
                        </ul>
                        <div><%= listing.strengths %></div>
                    </div>
                </div>
            <% }); %>
        </div>
    </section>
    <script src="scripts\script.js"></script>
</body>
</html>
